<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Simple ERP</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
          name="viewport" />
    <link rel="icon"
          href="#"
          type="image/x-icon" />
    

   @await Html.PartialAsync("~/Views/Shared/Common/HeaderFooter/_header.cshtml")
</head>
<body>

    <div class="wrapper">

        <!-- side navbar here -->
        @await Html.PartialAsync("~/Views/Shared/Common/Navbars/_sidenavbar.cshtml")

        <div class="main-panel">
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="index.html" class="logo">

                            <img src="~/WebsiteThemeassets/img/kaiadmin/logo_light.svg"
                                 alt="navbar brand"
                                 class="navbar-brand"
                                 height="20" />                         <!--logo here-->
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>

                <!--top navbar here-->
                @await Html.PartialAsync("~/Views/Shared/Common/Navbars/_topnavbar.cshtml")
            </div>
            <div class="container">
                <div class="page-inner">
                    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
                        <!--content here-->
                        @RenderBody()

                    </div>
                </div>
            </div>
        </div>

        @await Html.PartialAsync("~/Views/Shared/Common/Toogle/_customtoogle.cshtml")
    </div>
    <footer>
        @await Html.PartialAsync("~/Views/Shared/Common/HeaderFooter/_footer.cshtml")
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
